---
layout: value-driver
title: Deliver Better Products Faster
description: Accelerate the software delivery process to meet business objectives
suppress_header: true
extra_css:
  - value-driver-2.css
  - form-compact.css
  - comparison-page.css
  - form-to-resource.css
  - just-commit-2.css
  - experiments.css
  - experiment6595.css
---
-#<script data-cookieconsent="ignore" crossorigin="anonymous" src="https://unpkg.com/launchdarkly-js-client-sdk@2"></script>
-#<script src="/javascripts/run-experiment.js" type="text/javascript" data-cookieconsent="ignore"></script>
-#%script{type: "text/javascript", "data-cookieconsent": "ignore"}
  :plain
    runExperiment('6595', 'valuedriver-6595', null, null);
%div#experiment6595.experiment-outer-wrapper
  -#%span.loading-experiment 
  = partial "/experiments/6595-control"
  -#= partial "/experiments/6595-test"
